body {
    text-align: center;
    font-family: arial;
    color: #3d3d3d;
}
* {
    font-family: arial;
    box-sizing: border-box;
}

table {
  border: 0;
  margin: 0;
  padding: 0;
}
th, td {
    color: #3d3d3d;
}

.columnFilter{
  display: flex;
  flex-direction: column;
  height:100vh;
  background-color: #f9f9f9;
  padding: 0 5px;
}
.columnFilter *{
  width: auto;
  font: 12px/20px Arial,sans-serif ;
  color:#77797c;
  font-weight: bold;
}
.columnFilter span{
  color:#b4b6ba;

}
.headerSelectedFilters{
  margin-top: 4px;
}
.headerSelectedFilters> svg{
  float: right;
}
.espaceSelectedFilters{
  display: flex;
  flex-direction: column;
  height: auto;
  margin:5px 10px;
  min-width: 100px;
  min-height: 75px;
  background-color: white;
}

.case.presentation.SelectedFilters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #D1D4D4;
}
.case.presentation.SelectedFilters>div{
  margin-left: 5px;
}
.fa-trash-alt{
  margin:auto 0;
}
.TitleSelectedFilters{
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px 10px;
}

.TitleSelectedFilters > svg{
  margin:auto 0;
}
.searchFilter{
  display: flex;
}

.espaceFilter{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin:5px 10px;
  min-width: 100px;
  min-height: 50%;
  background-color: white;
}

.filter.activities{
  display: flex;
  flex-direction: column;
}
.filter.activities.label{
  display: flex;
  flex-direction: row;
}
.filter.activities.label > *{
  margin:auto 2px;
}
.filter.contain.value{
  display: none;
  flex-direction: column;
}
.filter.activity.value{
  text-align: left;
  margin-left: 12px;
}
.filter.activity.value:hover{
  color:#368ec4;
}

.filter.date.begin{
  display: flex;
  flex-direction: column;
}
.filter.date.label{
  display: flex;
  flex-direction: row;
}
.filter.date.label>*{
  margin:auto 2px;
}
.datePicker{
  margin:0 auto;
  text-align: center;
  display: none;
}
.calendarBlockDay:hover {
    background-color: #097698;
    color: #FFFFFF;
}
.calendar{
  margin: 2px auto;
}
.calendar th {
    padding: 0;
    background-color: #368ec4;
    font: bold 10px/16px arial;
    color: white;
    text-align: center;
}
.calendar td{
  border: 1px solid #FFFFFF;
}

.containerValue{
  min-width: 250px;
  margin: auto auto;
  width: 90%;
}
.graphValue{
  width: 100%;
  min-width: 310px;
  height: 65vh;
  margin: auto auto

}





.menuActivity{
  border: 1px solid #D1D4D4;
  vertical-align: middle;
  padding: .50rem 1rem;
  border-width: 0 0 1px 0;

}
.menuActivity:hover{
  background-color: #097698;
  color: #FFFFFF;
}
.selectedName{
  display: table-cell;
  min-width: 10px;
  width: 8%;
  height: 100%;
  background-color: #42a2da;

}
.item.activities.Selected{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
